<h2>Create Your Account</h2>

<form class="form create">
  <div class="form-group">
    <label for="email-create">email:</label>
    <input class="form-input" type="text" id="email-create" />
  </div>
  <div class="form-group">
    <label for="username-create">username:</label>
    <input class="form-input" type="text" id="username-create" />
  </div>
  <div class="form-group">
    <label for="password-create">password:</label>
    <input class="form-input" type="password" id="password-create" />
  </div>
  <div class="form-group">
    <button class="button is-primary" id = "create" type="submit">sign up</button>
  </div>
</form>

<script src="/js/create.js"></script>