  <button class="button" id="post-btn">Add New Post</button>

  <button class="button" id="comment-btn">View My Comments</button>
  
  {{#each posts as |post|}}
        
    
<div class="card" >
  <header class="card-header ">
    <p class="card-header-title">
      <a class="card-link"id = {{post.id}}>{{post.title}}</a>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
        {{post.createdAt}}
    </div>
   </div>
</div> 

{{/each}}




<script src="/js/viewMyPost.js"></script>




